/*  your css code here. If applicable */
body{
	margin:0;
	padding:0;
	background-color:#f8f8f8;
}
.book-library{
	background-color:#ffffff;
	width: 350px;
	margin: 30px auto;
	padding: 15px;
	border-radius:10px;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.book-library h1{
	text-align:center;
	margin-bottom:20px;
}

.book{
	margin-bottom:25px;
}
.book img{
	display:block;
	 margin: 0 auto;
     width: 150px;
     height: auto;
}
.book h2{
	 margin: 10px 0 5px;
     font-size: 16px;
}
.book p{
	margin: 0 0 10px;
	color: #777777;
	font-size: 14px;
}
.price{
	background-color:#2ecc71;
	text-align:center;
	color:white;
	padding:8px;
	font-weight:bold;
	border-radius:3px;
	
}
